<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>iDashboard</key>
	<dict>
		<key>support_email</key>
		<string>ksfteam2@gmail.com</string>
		<key>basic_url</key>
		<string>https://charts.smedsp.com:8888</string>
	</dict>
	<key>GlobalFinanceApp2</key>
	<dict>
		<key>support_email</key>
		<string>hotline.samismobile@sonymusic.com</string>
		<key>basic_url</key>
		<string>https://imobile.sonymusicsamis.com:8888</string>
	</dict>
	<key>GlobalFinanceApp2Debug</key>
	<dict>
		<key>support_email</key>
		<string>hotline.samismobile@sonymusic.com</string>
		<key>basic_url</key>
		<string>https://imobile.sonymusicsamis.com:8888</string>
	</dict>
	<key>GFA-Documents</key>
	<dict>
		<key>ssl_cert_filename</key>
		<string>dev_stage.smedsp.com</string>
		<key>support_email</key>
		<string>ksfteam2@gmail.com</string>
		<key>basic_url</key>
		<string>https://samisstageapi.smedsp.com:8888</string>
		<key>format_version_of_documents_available</key>
		<string>1.2.11</string>
	</dict>
	<key>GlobalFinanceApp2StageDebug</key>
	<dict>
		<key>ssl_cert_filename</key>
		<string>dev_stage.smedsp.com</string>
		<key>support_email</key>
		<string>ksfteam2@gmail.com</string>
		<key>basic_url</key>
		<string>https://samisstageapi.smedsp.com:8888</string>
	</dict>
	<key>GlobalFinanceApp2Test</key>
	<dict>
		<key>ssl_cert_filename</key>
		<string>dev_stage.smedsp.com</string>
		<key>support_email</key>
		<string>ksfteam2@gmail.com</string>
		<key>basic_url</key>
		<string>https://samistest.smedsp.com:8888</string>
	</dict>
	<key>GlobalFinanceApp2TestDebug</key>
	<dict>
		<key>ssl_cert_filename</key>
		<string>dev_stage.smedsp.com</string>
		<key>support_email</key>
		<string>ksfteam2@gmail.com</string>
		<key>basic_url</key>
		<string>https://samistest.smedsp.com:8888</string>
	</dict>
	<key>GlobalFinanceApp2Cloud</key>
	<dict>
		<key>ssl_cert_filename</key>
		<string>imobileui.sonymusicsamis.com</string>
		<key>support_email</key>
		<string>hotline.samismobile@sonymusic.com</string>
		<key>basic_url</key>
		<string>https://imobileapi.sonymusicsamis.com:8888</string>
	</dict>
	<key>GlobalFinanceApp2CloudDebug</key>
	<dict>
		<key>ssl_cert_filename</key>
		<string>imobileui.sonymusicsamis.com</string>
		<key>support_email</key>
		<string>hotline.samismobile@sonymusic.com</string>
		<key>basic_url</key>
		<string>https://imobileapi.sonymusicsamis.com:8888</string>
	</dict>
	<key>GlobalFinanceApp2Demo1</key>
	<dict>
		<key>ssl_cert_filename</key>
		<string>samisdemo.smedsp.com</string>
		<key>support_email</key>
		<string>ksfteam2@gmail.com</string>
		<key>basic_url</key>
		<string>https://samisdemo.smedsp.com:8888</string>
	</dict>
	<key>GlobalFinanceApp2Demo2</key>
	<dict>
		<key>ssl_cert_filename</key>
		<string>imobileui.sonymusicsamis.com</string>
		<key>support_email</key>
		<string>ksfteam2@gmail.com</string>
		<key>basic_url</key>
		<string>https://imobileapi.sonymusicsamis.com:8888</string>
	</dict>
	<key>GlobalFinanceApp2Demo3</key>
	<dict>
		<key>ssl_cert_filename</key>
		<string>samisdemo.smedsp.com</string>
		<key>support_email</key>
		<string>ksfteam2@gmail.com</string>
		<key>basic_url</key>
		<string>https://samisdemo.smedsp.com:8888</string>
	</dict>
	<key>GlobalFinanceApp2Dev</key>
	<dict>
		<key>ssl_cert_filename</key>
		<string>dev_stage.smedsp.com</string>
		<key>support_email</key>
		<string>ksfteam2@gmail.com</string>
		<key>basic_url</key>
		<string>https://samisdev.smedsp.com:8888</string>
	</dict>
	<key>GlobalFinanceApp2Demo</key>
	<dict>
		<key>ssl_cert_filename</key>
		<string>samisdemo.smedsp.com</string>
		<key>support_email</key>
		<string>ksfteam2@gmail.com</string>
		<key>basic_url</key>
		<string>https://samisdemo.smedsp.com:8888</string>
	</dict>
	<key>GlobalFinanceApp2Autotest</key>
	<dict>
		<key>ssl_cert_filename</key>
		<string>dev_stage.smedsp.com</string>
		<key>support_email</key>
		<string>ksfteam2@gmail.com</string>
		<key>basic_url</key>
		<string>https://samisautotest.smedsp.com:8888</string>
	</dict>
	<key>Artist360</key>
	<dict>
		<key>ssl_cert_filename</key>
		<string>samisdemo.smedsp.com</string>
		<key>support_email</key>
		<string>ksfteam2@gmail.com</string>
		<key>basic_url</key>
		<string>https://samisdemo.smedsp.com:8888</string>
	</dict>
</dict>
</plist>
